<div *ngIf="isLoadingOnStart" class="celebrationIsLoadingOnStart">
    <mat-spinner [diameter]="30"></mat-spinner>
</div>

<div *ngIf="!isLoadingOnStart" class="celebration">
    <div class="celebration_controls">
        <button (click)="handleScreenBack()">
            <mat-icon aria-hidden="false" fontIcon="chevron_left"></mat-icon>
        </button>
        <button (click)="handleScreenNext()">
            <mat-icon aria-hidden="false" fontIcon="chevron_right"></mat-icon>
        </button>
    </div>
    <app-presentation *ngIf="currentScreen === ENUM_CELEBRATION_STEPS.PRESENTATION" />
    <app-winner-info 
    *ngIf="currentScreen === ENUM_CELEBRATION_STEPS.WINNER_INFO" 
    [username]="celebrationData?.personName || '-'"
    [photo]="celebrationData?.imageLink || ''"
    />
</div>

