<form class="formNewCelebration" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Título da celebração:</mat-label>
        <input 
        matInput 
        placeholder="Título da celebração"
        formControlName="celebrationTitle"
        >
        <mat-error *ngIf="myForm.get('celebrationTitle')?.invalid">
            {{ getErrorMessageCelebrationTitleField() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Nome da pessoa:</mat-label>
        <input 
        matInput 
        placeholder="Nome da pessoa"
        formControlName="personName"
        >
        <mat-error *ngIf="myForm.get('personName')?.invalid">
            {{ getErrorMessagePersonNameField() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Mensagem especial:</mat-label>
        <input 
        matInput 
        placeholder="Mensagem especial"
        formControlName="description"
        >
        <mat-error *ngIf="myForm.get('description')?.invalid">
            {{ getErrorMessageDescriptionField() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Vídeo do YouTube:</mat-label>
        <input 
        matInput 
        placeholder="Vídeo do YouTube"
        formControlName="youtubeUrl"
        >
        <mat-error *ngIf="myForm.get('youtubeUrl')?.invalid">
            {{ getErrorMessageYoutubeUrlField() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Frase de destaque final:</mat-label>
        <input 
        matInput 
        placeholder="Frase final"
        formControlName="endPhrase"
        >
        <mat-error *ngIf="myForm.get('endPhrase')?.invalid">
            {{ getErrorMessageEndPhraseField() }}
        </mat-error>
    </mat-form-field>
    <div class="formNewCelebration_imageSelectArea">
        <button type="button" (click)="triggerFileInput()">Selecionar Imagem</button>
        <input id="fileUpload" type="file" (change)="onFileSelected($event)" accept="image/*" hidden>
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Preview">
    </div>
    <button type="submit">Criar celebração</button>
</form>