<form class="formNewCelebration" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Nome da pessoa:</mat-label>
        <input 
        matInput 
        placeholder="Nome da pessoa"
        formControlName="personName"
        >
        <mat-error *ngIf="myForm.get('personName')?.invalid">
            {{ getErrorMessagePersonNameField() }}
        </mat-error>
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Título da celebração:</mat-label>
        <input 
        matInput 
        placeholder="Título da celebração"
        formControlName="celebrationTitle"
        >
        <mat-error *ngIf="myForm.get('celebrationTitle')?.invalid">
            {{ getErrorMessageCelebrationTitleField() }}
        </mat-error>
        <app-options-generic-suggestions 
        [options]="['Feliz Natal', 'Feliz Ano Novo', 'Feliz São João', 'Feliz Dia dos Namorados', 'Feliz Páscoa', 'Feliz Dia das Crianças', 'Feliz Dia dos Pais', 'Feliz Dia das Mães', 'Feliz Carnaval', 'Feliz Dia do Amigo']" 
        [onSelect]="handleSetSuggestionCelebrationTitle" 
        />
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Mensagem especial:</mat-label>
        <input 
        matInput 
        placeholder="Mensagem especial"
        formControlName="description"
        >
        <mat-error *ngIf="myForm.get('description')?.invalid">
            {{ getErrorMessageDescriptionField() }}
        </mat-error>
        <app-options-generic-suggestions 
        [options]="deepSpecialMessages" 
        [onSelect]="handleSetSuggestionDescription" 
        />
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Vídeo do YouTube:</mat-label>
        <input 
        matInput 
        placeholder="Vídeo do YouTube"
        formControlName="youtubeUrl"
        >
        <mat-error *ngIf="myForm.get('youtubeUrl')?.invalid">
            {{ getErrorMessageYoutubeUrlField() }}
        </mat-error>
        <app-options-generic-suggestions-advanced 
        [options]="musicVideos" 
        [onSelect]="handleSetSuggestionYoutubeUrl" 
        />
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Frase de destaque final:</mat-label>
        <input 
        matInput 
        placeholder="Frase final"
        formControlName="endPhrase"
        >
        <mat-error *ngIf="myForm.get('endPhrase')?.invalid">
            {{ getErrorMessageEndPhraseField() }}
        </mat-error>
        <app-options-generic-suggestions 
        [options]="celebrationEndPhrases" 
        [onSelect]="handleSetSuggestionEndPhrase" 
        />
    </mat-form-field>
    <mat-form-field class="formNewCelebration_input">
        <mat-label>Email:</mat-label>
        <input 
        matInput 
        placeholder="celebre@email.com"
        formControlName="email"
        >
        <mat-error *ngIf="myForm.get('email')?.invalid">
            {{ getErrorMessageEmailField() }}
        </mat-error>
    </mat-form-field>
    <div class="formNewCelebration_imageSelectArea">
        <button type="button" (click)="triggerFileInput()">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add_photo_alternate"></mat-icon>
            Selecionar Imagem
        </button>
        <input id="fileUpload" type="file" (change)="onFileSelected($event)" accept="image/*" hidden>
        <span *ngIf="myForm.get('imageLink')?.invalid && isTrySubmitForm">
            {{ getErrorMessageImageLinkField() }}
        </span>
        <img *ngIf="selectedImage" [src]="selectedImage" alt="Preview">
    </div>
    <button type="submit">Criar celebração</button>
</form>