
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './vars.scss' as vars;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

@font-face {
    font-family: 'LilitaOne-regular';
    src: url('assets/fonts/LilitaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ConcertOne-regular';
    src: url('assets/fonts/ConcertOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Anton-regular';
  src: url('assets/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LexendGiga-Variable';
  src: url('assets/fonts/LexendGiga-VariableFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'LexendGiga-Variable';
  color: vars.$white;
}
html, body { height: 100%; }

.appMain {
  background-color: vars.$black;
  background-image: url('./assets/images/tile_main_bg.png') !important;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

.successPay {
  background-color: vars.$black;
}
